<%- include("../partials/top.ejs", {title: "Bad Request" }); %>

    <div class="error-container">
        <h1>400</h1>
        <p class="lead">The server could not understand the request due to invalid syntax.</p>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>

    <%- include("../partials/bottom.ejs"); %>