<%- include("../partials/top.ejs", {title: "Not Found" }); %>

    <div class="error-container">
        <h1>404</h1>
        <p class="lead">Sorry, the page you are looking for could not be found.</p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>

    <%- include("../partials/bottom.ejs"); %>