<%- include("../partials/top.ejs", {title: "Internal Server Error" }); %>

    <div class="error-container">
        <h1>500</h1>
        <p class="lead">The server encountered an unexpected condition which prevented it from fulfilling the request.
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>

    <%- include("../partials/bottom.ejs"); %>