<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - Admin
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        .error-container {
            text-align: center;
            margin-top: 5%;
        }

        .error-container h1 {
            font-size: 180px;
            line-height: 200px;
        }

        .centered-container {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .confirmation-dialog {
            text-align: center;
        }

        .book-cover {
            max-width: 200px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>